.bg-img {
  background-image: url(./wallpaperflare.com_wallpaper.jpg);
}

.alcent {
  align-items: center;
}

.bigpad {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.txt-white {
  color: white;
}

.pad {
  padding: 7vh;
}

.topad {
  padding-top: 25vh;
}

.abs {
  position: absolute;
}

.slide {
  bottom: -12rem;
}

.largepad {
  padding-top: 10em;
  padding-bottom: 10em;
}

.shift {
  left: 4em;
}

.bshift {
  left: 5em;
}

.smallfont {
  font-size: x-small;
}