.bg-img {
  background-image: url(./wallpaperflare.com_wallpaper.jpg);
}

.alcent {
  align-items: center;
}

.bigpad {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.txt-white {
  color: white;
}

.pad {
  padding: 7vh;
}

.topad {
  padding-top: 25vh;
}

.dabs {
  position: absolute;
}

.slide {
  bottom: -12rem;
}

.largepad {
  padding-bottom: 10em;
}

.shift {
  left: 4em;
}

.bshift {
  left: 5em;
}

.smallfont {
  font-size: x-small;
}

.slid {
  top: 2rem;
  left: ;
}

.imgslide {
  margin-right: 5em;
}

.button1 {
  position: absolute;
  top: 7.5em;
  left: 5em;
}

.slidel {
  scroll-padding-left: 1em;
}

.sleft {
  padding-left: 4.5em;
}

.sright {
  margin-right: 2.5em;
}